<div class="container">
  <h1>Patient Crud App</h1>
  <div class="patient-container">
    <div class="patient-form">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Patient Name</label>
          <input type="text" name="patientName" [(ngModel)]="patient.patientName" />
        </div>
        <div class="form-group">
          <label>Sex</label>
          <input type="text" name="sex" [(ngModel)]="patient.sex" />
        </div>
        <div class="form-group">
          <label>Birth Date</label>
          <input type="text" name="birthDate" [(ngModel)]="patient.birthDate" />
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="text" name="phoneNumber" [(ngModel)]="patient.phone" />
        </div>
        <div class="form-group">
          <button>Save</button>
        </div>
      </form>
    </div>
    <div class="cards-grid">
      <div class="card-row" *ngFor="let patient of patients">
        <div class="card-row-details" (click)="populateForm(patient)">
          <span>{{ patient.patientID }}:</span>
          <span>{{ patient.patientName }} </span>
          <span>{{ patient.sex }}</span>
          <span>{{ patient.birthDate }}</span>
          <span>{{ patient.phone }}</span>
        </div>
        <div class="card-row-action">
          <a  (click)="deletePatient(patient.patientID)"><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
